# Ignore folder created by pycharm
venv/
# Ignore idea folder
.idea/
# Ignore vscode folder
.vscode/
#Ignore Dolphin Directory Preferences
.directory
#Ignore Debugging test folder
dbg/
#Ignore safesnips folder
safesnips/